.pointer.hidden
  .left-arrow
  .vertHelper
dt
  .result-title= Title
dd
  .result-description= Description.length > 225 ? Description.substring(0,255) + "..." : Description  
  .result-info 
    | By 
    span.keyword= authorName 
    |  - Published on #{pubDate} - Modified on #{modDate}
  .result-keywords Keywords: 
    for word in keywordList
      span.keyword= word